
.product-list {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-evenly;
    margin: 10px;
    padding: 15px;
}

/*this is for the div*/
.product-header-container{


}


.product-description{


}

.product-price{


}
/*this is for the div*/
.product-image{
    width: 200px;
    height: 200px;
}

