
.single-product-card{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: auto;
    padding: 10px;

}

.product-image-detail{
    width: 500px;
    height: 500px;
}

.product-details{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    font-size: 20px;
    gap: 20px;
}

.product-name{
    font-family: serif;
    font-size: 35px;
    margin-bottom: 50px;
}

.product-details-buttons{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}