
.user-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.user-card{
    padding:10px;
    flex-wrap: wrap;
}

.user-card-detail{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    height: 100px;
    padding: 15px;
    text-decoration: none;

}

.user-header-container{
    display: flex;
    flex-direction: column;
    font-family: serif;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
} 



.user-image{
    width: 50px;
    height: 50px;
}

