.loginPage {
    /* position: relative;
    top: 10vh;
    left: 5vw;
    bottom: 10vh;
    background-color: white;
    box-shadow: 1px 1px 10px black;
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 500px;
    padding: 32px 0 64px 0; */
    display:flex;
    flex-direction: column;
    padding: 10px;
    width: 40%;
    margin: auto;
    box-shadow: 1px 1px 10px black;

}


.loginPage h1 {
    font-size: 2.4rem;
    text-align: center;
    margin: 24px 24px 24px 24px;
}

.login-details {
    display: flex;
    flex-direction: column;
    margin: 0 24px 24px 24px;
    padding: 10px;
    width: 450px;
    gap: 20px;
    align-items: center;

}

.login-fieldset {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 350px;
}


.login-actions {
    display: flex;
    padding: 10px 24px 24px 24px;
}

.opposite-action-message{
    text-align: center;
    
}

h5{
    margin: 8px;
}

.login-actions{
    margin-left: 210px;
    height: 90px;
}

@media screen and (max-width: 768px) {
    .loginPage {
        width: 90vw;
        max-width: none;
        position: relative;
        top: 5vw;
        left: 5vw;
        padding: 24px;
    }
    
    .logo img, .main-login button {
        margin-top: 12px;
        width: 65vw;
    }
}
#errorMessage{
    padding: 10px 24px 24px 24px;
    font-size: 1.5rem;
    color: red;
}